.rpyc
.rpyb
.rpymc
.pyc
.pyo

~
.bak

saves
tmp
cache
env

log.txt
errors.txt
traceback.txt

styles.txt

android
build
dist
dists
renpy.app
jedit
lint.txt
renpy.code
testing
screenshot
renpy.exe
lib
lib.old
doc
.pydevproject
.pydevproject.bak
.project
.settings
LICENSE.txt
templatesenglishREADME.html
the_questionREADME.html
tutorialREADME.html
renpyangle.pyx
renpyangle.pxd
renpy-ppc.zip
modulebuild
modulegen
editra
launchergametheme
launchergamescript_version.rpy

dl
renpyvc_version.py
.externalToolBuilders
rapt
evil
iaptest
pygame_sdl2
renios
steam_appid.txt